.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  width: 1360px;
  word-break: normal;
}

@media screen and (max-width: 767px) {
  div.container {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 24px;
    width: auto;
  }

  div.title-text-xl {
    font-size: 10vw;
    line-height: 12.5vw;
    text-align: center;
    margin-bottom: 5vw;
  }

  div.star-button-description {
    font-size: 5vw;
    line-height: 7.5vw;
  }

  div.grid-container {
    grid-template-columns: auto;
    grid-gap: 10vw;
  }

  div.value-block-item-left {
    grid-template-columns: auto;
    grid-gap: 5vw;
    margin-bottom: 10vw;
    margin-right: 20%;
  }

  div.value-block-item-right {
    grid-template-columns: auto;
    grid-gap: 5vw;
    margin-bottom: 10vw;
    width: 80%;
    margin-left: 20%;
  }

  div.column-title {
    font-size: 4.375vw;
    line-height: 6.25vw;
    margin-bottom: 1.25vw;
  }

  div.column-text {
    font-size: 6.25vw;
    line-height: 8.75vw;
  }

  div.value-image-2 {
    order: 1;
  }

  div.value-info {
    order: 2;
  }

  div.star-button-text {
    font-size: 7.5vw;
    line-height: 7.5vw;
  }

  div.hero-block {
    margin-bottom: 30vw;
  }

  div.value-block {
    margin-bottom: 30vw;
  }

  div.final-block {
    margin-bottom: 30vw;
  }

  div.ios-button {
    padding: 2.5vw 8.75vw 2.5vw 5vw;
    border-radius: 2.5vw;
  }

  div.apple-logo {
    width: 15vw;
    height: 15vw;
    padding-right: 2.5vw;
  }

  div.ios-button-text-s {
    font-size: 5vw;
    line-height: 5vw;
    margin-bottom: 0.625vw;
  }

  div.ios-button-text-m {
    font-size: 7.5vw;
    line-height: 7.5vw;
  }

  div.margin-bottom-m {
    margin-bottom: 7.5vw;
  }

  div.final-text-xl {
    font-size: 10vw;
    line-height: 12.5vw;
    margin-bottom: 5vw;
  }

  div.final-block {
    padding: 5vw 5vw 7.5vw 5vw;
  }

  span.sale-decoration {
    padding: 0px 2.5vw 1.25vw 2.5vw;
  }

  

div.value-block-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0px;
}


div.media-1 {
  margin-right: 20%;
}

div.text-content-1 {
  margin-right: 20%;
}

div.media-2 {
  margin-left: 0%;
  margin-top: 20%;
  margin-right: 20%;
}

div.text-content-2 {
  margin-left: 0%;
  margin-right: 20%:
}

div.media-3 {
  margin-right: 0%;
  margin-left: 20%;
  margin-top: 20%;
}

div.text-content-3 {
  margin-left: 20%;
}


  div.text-content-1 {
    margin-bottom: 10vw;
  }

  div.text-content-2 {
    margin-bottom: 10vw;
  }
}

@media (max-width: 1440px) and (min-width: 768px) {
  div.container {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    width: auto;
  }

  div.title-text-xl {
    font-size: 4.444vw;
    line-height: 5vw;
    margin-bottom: 1.111vw;
  }

  div.star-button-description {
    font-size: 1.667vw;
    line-height: 2.222vw;
  }

  div.grid-container {
    grid-gap: 25vw;
  }

  div.column-title {
    font-size: 2.778vw;
    line-height: 3.333vw;
    margin-bottom: 0.556vw;
  }

  div.column-text {
    font-size: 2.778vw;
    line-height: 3.333vw;
  }

  div.star-button-text {
    font-size: 3.333vw;
    line-height: 3.333vw;
  }

  div.hero-block {
    margin-bottom: 10vw;
  }

  div.value-block {
    margin-bottom: 10vw;
  }

  div.final-block {
    margin-bottom: 10vw;
  }

  div.ios-button {
    padding: 0.833vw 2.778vw 0.833vw 1.944vw;
    border-radius: 0.556vw;
  }

  div.apple-logo {
    width: 5vw;
    height: 5vw;
    padding-right: 1.111vw;
  }

  div.ios-button-text-s {
    font-size: 1.667vw;
    line-height: 1.667vw;
    margin-bottom: 0.139vw;
  }

  div.ios-button-text-m {
    font-size: 2.778vw;
    line-height: 2.778vw;
  }

  div.margin-bottom-m {
    margin-bottom: 2.778vw;
  }

  div.final-text-xl {
    font-size: 4.444vw;
    line-height: 5vw;
    margin-bottom: 1.111vw;
  }

  div.final-block {
    padding: 1.667vw 1.667vw 2.222vw 1.667vw;
  }

  span.sale-decoration {
    padding: 0px 1.111vw 0.833vw 1.111vw;
  }
}

.title-text-xl {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
}

.star-button-description {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 360px;
  justify-items: center;
  align-items: center;
}

.value-block-item-left {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 148px;
  margin-bottom: 64px;
  justify-items: center;
  align-items: center;
}

.value-block-item-right {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 148px;
  margin-bottom: 64px;
  justify-items: center;
  align-items: center;
}

.column-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #6202ee;
  margin-bottom: 8px;
}

.column-text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.star-button {
  position: relative;
  background-image: url("https://svgshare.com/i/DVz.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 43.870967741%;
}

.iphone-mockup {
  position: relative;
  background-image: url("https://i.ibb.co/xsyg4ZX/mobile-mockup.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 206.944444444%;
  margin: 0px 10% 0px 10%;
}

.star-button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: left;
  margin: 0px;
  color: white;
}

.value-image {
  width: 100%;
  margin-bottom: 24px;
}

.hero-block {
  margin-bottom: 144px;
}

.value-block {
  margin-bottom: 144px;
}

.final-block {
  margin-bottom: 144px;
}

.ios-button {
  display: table;
  background-color: #ffffff;
  padding: 12px 40px 12px 28px;
  border-radius: 8px;
  margin: auto;
}

.ios-button > div {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}

.apple-logo {
  background-image: url("https://svgshare.com/i/DbD.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  padding-right: 16px;
}

.ios-button-text-s {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #6202ee;
  margin-bottom: 2px;
  text-decoration: none;
}

.ios-button-text-m {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #6202ee;
  text-decoration: none;
}

.margin-bottom-m {
  margin-bottom: 40px;
}

.final-text-xl {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
  margin: 0px;
  margin-bottom: 16px;
  color: #ffffff;
}

.final-block {
  background-color: #6202ee;
  padding: 24px 24px 32px 24px;
}

.sale-decoration {
  border: 1px solid #7000ff;
  border-radius: 100%;
  text-align: center;
  position: relative;
  padding: 0px 16px 12px 16px;
}

.ios {
  text-decoration: none;
}

.ios-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.star-button:hover {
  opacity: 0.6;
}

.value-block-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}


.media-1 {
  margin-right: 40%;
}

.text-content-1 {
  margin-right: 20%;
}

.media-2 {
  margin-left: 40%;
  margin-top: 40%;
}

.text-content-2 {
  margin-left: 20%;
}

.media-3 {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 30%;
}

.text-content-3 {
  margin-left: 20%;
}
